# backend

DATABASE_URL=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
REDIS_URL=
CORS_ORIGINS=


# frontend
VITE_API_URL=
VITE_WS_URL=